.App {
  text-align: center;
  color: blue;
  padding-bottom: 30px;
  border-bottom: 1px solid green;
}
.text {
  color: aqua;
}
.date {
  color: brown;
  float: right;
}
.main {
  padding-top: 30px;
}

